<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>homepage</title>
</head>
<body>
    <div id="container">
        <div id="main">
            <div id="postTournament">
                <label>name :</label><input type="text" id="name">
                
                <label>startDate :</label><input type="date" id="startDate">
                
                <label>endDate :</label><input type="date" id="endDate">
                
                <label>address :</label><input type="text" id="address">
                
                <label>password :</label><input type="password" id="password">

                <button id="post">Post</button>
                
            </div>
            <div id="showTournaments">

            </div>
        </div>

    </div>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="./index.js"></script>
</body>
</html>