<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>profile</title>
</head>
<body>
    <div><button id="back">back</button></div>
    <div id="container">
        
        <div id="top">
            <input type="file" id="photoFile" accept="image/*">
            <button id="upload">+</button>
            <div id="image"></div>
            <h1 id="name"></h1>
            <a>(</a><a id="playerType"></a><a>)</a>
        </div>
        <div id="main">
            <div class="stats"><h3>Matches :</h3><h3 id="matches"></h3></div>
            <div class="stats"><h3>Runs :</h3><h3 id="runs"></h3></div>
            <div class="stats"><h3>Highest score :</h3><h3 id="highestScore"></h3></div>
            <div class="stats"><h3>Fours :</h3><h3 id="fours"></h3></div>
            <div class="stats"><h3>Sixes :</h3><h3 id="sixes"></h3></div>
            <div class="stats"><h3>Balls :</h3><h3 id="balls"></h3></div>
            <div class="stats"><h3>Wickets :</h3><h3 id="wickets"></h3></div>
            <div class="stats"><h3>Highest wickets :</h3><h3 id="highestWickets"></h3></div>
            <div class="stats"><h3>overs :</h3><h3 id="overs"></h3></div>
        </div>

    </div>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./index.js"></script>
</body>
</html>