<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>profile</title>
</head>
<body>
    <div><button id="back">back</button></div>
    <div id="container">
        
        <div id="top">
            <h1 id="name"></h1>
            <a>(</a><a id="playerType"></a><a>)</a>
        </div>
        <div id="main">
            <h3>Matches :</h3><h3 id="matches"></h3>
            <h3>Runs :</h3><h3 id="runs"></h3>
            <h3>Wickets :</h3><h3 id="wickets"></h3>
        </div>

    </div>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./index.js"></script>
</body>
</html>