<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>amchyaDhava</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="container">
        <div id="main">
            
            <div id="loginDiv" class="mainDiv" >
                <div class="inputs">
                    <label>Enter Username :</label>
                    <input type="name" id="LoginUsername">
                    <label>Enter Password :</label>
                    <input type="password" id="LoginPassword">
                </div>
                <button class="submit" id="login">Login</button>
            </div>
            
        </div>
    </div>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./index.js"></script>
</body>
</html>