#container{
    height: 550px;
    background-color: rgb(224, 214, 195);
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main{
    height: 400px;
    width: 800px;
    background-color: rgb(255, 255, 255);
    margin: 100px;
    border-radius: 7%;
    color:  rgb(10, 10, 10);
}

#playerType{
    display: flex;
    flex-direction: row;
    margin: 1px;
}

input{
    width: auto;
    height: 15px;
    margin-bottom: 30px;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

hr{
    width: 98%;
}


button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(243, 224, 52);
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.otherPage{
    width: 100%;
}
.submit{
    width: 120px;
    height: 60px;
    border-radius: 10%;
    background-color: rgb(224, 64, 15);
    color: white;
}

