<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>select team</title>
</head>
<body>
    <div id="container">
        <div id="team1">
            <div class="titleBar">
                <div id="findTeamDiv1" class="findTeamDiv">
                    <label>team name:</label>
                    <input type="text" id="team1Name">
                    <label>team password:</label>
                    <input type="text" id="team1Password">
                    <button id="findTeam1">find team</button>
                    
                </div>
                
            </div>
            <hr>
            <div id="team1name"></div>
            <div id="main1" class="main">

            </div>
            <hr>
            <div>
                <button id="fixTeam1">fix team</button>
            </div>
        </div>
        <div id="team2">
            <div class="titleBar">
                <div id="findTeamDiv2" class="findTeamDiv">
                    <label>team name:</label>
                    <input type="text" id="team2Name">
                    <label>team password:</label>
                    <input type="text" id="team2Password">
                    <button id="findTeam2">find team</button>
                    
                </div>
                
            </div>
            <hr>
            <div id="team2name"></div>
            <div id="main2" class="main">

            </div>
            <hr>
            <div>
                <button id="fixTeam2">fix team</button>
            </div>
        </div>
    </div>
    <div>
        <label>overs :</label>
        <input type="text" id="overs">
        <label>team batting first :</label>
        <label>team1 :</label>
        <input type="radio" name="tossWon" value="team1">
        <label>team2 :</label>
        <input type="radio" name="tossWon" value="team2">
        <button id="start">start</button>
    </div>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./index.js"></script>
</body>
</html>