<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>select team</title>
</head>
<body>
    <div id="container">
        <div id="team1">
            <div class="titleBar">
                <div id="findTeamDiv1" class="findTeamDiv" style="display: none;">
                    <label>team captain email:</label>
                    <input type="text" id="team1Email">
                    <label>team password:</label>
                    <input type="text" id="team1Password">
                    <button id="findTeam1">find team</button>
                    
                </div>
                <div id="optionFindTeamDiv1" class="optionFindTeamDiv"><button id="optionFindTeam1">existing team</button></div>
                <div id='createTeam1Div' class="findPlayerDiv" style="display: none;">
                    <label>enter team name:</label>
                    <input type="text" id="newTeamName1">
                    <label>enter team email:</label>
                    <input type="email" id="newTeamEmail1">
                    <label>enter password:</label>
                    <input type="password" id="password11">
                    <label>confirm password:</label>
                    <input type="password" id="password21">
                    <button id="postTeam1">create</button>
                </div>
                
                <div id="createTeamDiv1" class="createTeamDiv"><button id="createTeam1">create team</button></div>
            </div>
            <hr>
            <div id="team1name"></div>
            <div id="main1" class="main">

            </div>
            <hr>
            <div id="findPlayerDiv1" class="findPlayerDiv">
                <label>player email:</label>
                <input type="text" id="player1Email">
                <label>password:</label>
                <input type="text" id="player1Password">
                <button id="add1">add</button>
            </div>
            <div>
                <button id="fixTeam1">fix team</button>
            </div>
        </div>
        <div id="team2">
            <div class="titleBar">
                <div id="findTeamDiv2" class="findTeamDiv" style="display: none;">
                    <label>team captain email:</label>
                    <input type="text" id="team2Email">
                    <label>team password:</label>
                    <input type="text" id="team2Password">
                    <button id="findTeam2">find team</button>
                    
                </div>
                <div id="optionFindTeamDiv2" class="optionFindTeamDiv"><button id="optionFindTeam2">existing team</button></div>
                <div id='createTeam2Div' class="findPlayerDiv" style="display: none;">
                    <label>enter team name:</label>
                    <input type="text" id="newTeamName2">
                    <label>enter team email:</label>
                    <input type="email" id="newTeamEmail2">
                    <label>enter password:</label>
                    <input type="password" id="password12">
                    <label>confirm password:</label>
                    <input type="password" id="password22">
                    <button id="postTeam2">create</button>
                </div>
                
                <div id="createTeamDiv2" class="createTeamDiv"><button id="createTeam2">create team</button></div>
            </div>
            <hr>
            <div id="team2name"></div>
            <div id="main2" class="main">

            </div>
            <hr>
            <div id="findPlayerDiv2" class="findPlayerDiv">
                <label>player email:</label>
                <input type="text" id="player2Email">
                <label>password:</label>
                <input type="text" id="player2Password">
                <button id="add2">add</button>
            </div>
            <div>
                <button id="fixTeam2">fix team</button>
            </div>
        </div>
    </div>
    <div>
        <label>overs :</label>
        <input type="text" id="overs">
        <label>team batting first :</label>
        <label>team1 :</label>
        <input type="radio" name="tossWon" value="team1">
        <label>team2 :</label>
        <input type="radio" name="tossWon" value="team2">
        <button id="start">start</button>
    </div>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./index.js"></script>
</body>
</html>