#container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.main{
    height: 400px;
}
.playerDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    background-color: rgb(236, 192, 135);
}
.findPlayerDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.findTeamDiv{
    display: flex;
    flex-direction: column;
}