body{
    margin:0px;
}
button{
    font-size: 4vh;
    margin: 3px;
    border-radius: 2vh;
}
#container{
    height: 100vh;
    background-color: rgb(235, 241, 197);
    overflow:auto;
    font-size: 3vh;
}
#score{
    height: 35vh;
}
#add{
    background-color: black;
    color: #f2f2f2;
    width: 10vh;
    height: 10vh;
    border-radius: 2vh;
}
#wicketButton{
    background-color: red;
    border-radius: 7%;
    color: #f2f2f2;
}
#oneRun{
    background-color: rgb(248, 194, 194);
}
#fourRun{
    background-color: rgb(235, 245, 146);
}
#sixRun{
    background-color: rgb(156, 162, 243);
}
#cancle{
    background-color: rgb(214, 47, 236);
    color: #f2f2f2;
    border-radius: 15%;
}

#currentOver {
    background-color: rgb(241, 223, 201);
    display: flex;
    height: 4vh;
    margin-inline: 20px;
    align-items: center;
    padding-inline: 20px;
    justify-content: space-around;
}
#currentOverData{
    display: flex;
    flex-direction: row;
}

#show{
    width: 7vw;
    height: 7vw;
    background-color: #fcf7f7;
    margin-top: 7vh;
    font-size: 5vh;
}
#updateButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#byes{
    background-color: yellow;
    /* width: 50px;
    height: 40px; */
    border-radius: 17%;
}
#wideBall{
    background-color: rgb(215, 230, 241);
    /* width: 55px;
    height: 40px; */
    border-radius: 17%;
}
#noBall{
    background-color: rgb(43, 7, 248);
    /* width: 40px;
    height: 40px; */
    border-radius: 17%;
    color:#f2f2f2
}

#secondInningScenario{
    display: flex;
    flex-direction: column;
}
.box{
    background-color: rgb(98, 243, 98);
    padding: 2px;
    display: flex;
    margin: 2px;
}

.score{
    background-color: rgb(220, 243, 253);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 30px;
    height: 20vh;
    width: 20vw;
    font-size: 5vh;
    border-radius: 5vh;
    /* color: #000; */
}
.batterStats{
    width: 37vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y:scroll;
}
.bowlerStats{
    height: 20%;
    overflow-y:auto;
}
.divide{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.over{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1px;
}

table {
    width: 100%;
}
th, td {
    background-color: rgb(174, 247, 225);
    padding-inline: 5px;
    text-align: left;
    height: 3vh;
    border-radius: 3vh;
    
}
th {
    background-color: #b8f5a8;
}