<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>amchyaDhava</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="container">
        <header>
            <nav><h1>LOGIN</h1> <div class="otherPage">
                <label>New User? :</label>
                <button id="signup">Signup</button>
            </div></nav>
        </header>
        <div id="main">
            <div id="signupDiv" class="mainDiv">
                
                <form class="inputs">
                    <label>Enter Name :</label>
                    <input type="text" id="name">
                    <label>Enter Password :</label>
                    <input type="password" id="password">
                    <button class="submit" id="login">Login</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./index.js"></script>
</body>
</html>