body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    /* align-items: stretch;
    justify-content: stretch; */
    /* background-color: rgb(209, 141, 141);  */
}
#main{
    width: 90%;
}
#displayLeaderBoard{
    display: flex;
    flex-direction: row;
}
#container{
    display: flex;
    flex: 1;
    width: 100%;
    height: 99%;
    /* background-color: rgb(253, 239, 109); */
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 22vh;
    justify-content: space-around;
    background-color: rgb(248, 234, 110);
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    overflow: auto;
}
#batter{
width: 50%;
}
#bowler{
    width: 50%;
}
.teamDiv{
    display: flex;
    flex-direction: row;
    background-color: rgb(227, 248, 152);
    justify-content: space-around;
    border-radius: 20px;
    width: 100vw;
    align-items: center;
}
.playerDiv{
    display: flex;
    flex-direction: row;
    background-color: rgb(248, 210, 152);
    justify-content: space-around;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    align-items: center;
}
.playerDiv button{
    height: 18px;
    border-radius: 10px;
    background-color: rgb(247, 150, 111);
}
.leaderboard{
    display: flex;
    flex-direction: row;
    margin: 1px;
    background-color: rgb(202, 247, 166);
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
button{
    height: 10vh;
    border-radius: 20px;
    background-color: rgb(248, 234, 110);;
    margin: 3px;
    font-size: large;
    border: solid 0px ;
}
div{
    margin: 2px;
    border-color: black;
    border: 1px;
    /* background-color: rgb(248, 237, 86); */
}