<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>homepage</title>
</head>
<body>
    <div id="container">
        <div id="top">
            <button id="profile">profile</button>
        </div>
        <div id="main">
            <div id="tournaments">

            </div>
        </div>

    </div>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./index.js"></script>
</body>
</html>