body {
    /* width: 100%;
    height: 100%; */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    /* background-color: rgb(209, 141, 141);  */
}
#main{
    width: 90%;
}
#displayLeaderBoard{
    display: flex;
    flex-direction: row;
}
#container{
    display: flex;
    flex-direction: row;
    flex: 1;        
    width: 100%;
    height: 600px;
    background-color: rgb(243, 207, 207); 
}
#left{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
}
#batter{
width: 50%;
}
#bowler{
    width: 50%;
}
.teamDiv{
    display: flex;
    flex-direction: row;
    background-color: rgb(227, 248, 152);
    justify-content: space-around;
    border-radius: 20%;
    flex-wrap: wrap;
}
.playerDiv{
    display: flex;
    flex-direction: row;
    background-color: rgb(248, 210, 152);
    justify-content: space-around;
    width: 500px;
    height: 25px;
    border-radius: 20%;
    align-items: center;
}
.playerDiv button{
    height: 18px;
    border-radius: 20%;
    background-color: rgb(247, 150, 111);
}
.leaderboard{
    display: flex;
    flex-direction: row;
    margin: 1px;
    background-color: rgb(202, 247, 166);
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
button{
    height: 40px;
    border-radius: 20%;
    background-color: rgb(236, 234, 66);
}
div{
    margin: 2px;
    border-color: black;
    border: 1px;
    background-color: rgb(250, 239, 239);
}