<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>homepage</title>
</head>
<body>
    <div id="container">
        <header id="top">
            <h1 id="userNameH1">
                
            </h1>
            <nav>
            <button id="profile">profile</button>
            <button id="leaderboard">leaderboard</button>
            <button id="createTeam">create team</button>
            <button id="showTeam">show team</button>
            <button id="logout">logout</button>
            </nav>
            
        </header>
        <div id="main">
            <div id="createTeamDiv"></div>
            <div id="showTeamDiv"></div>
            <div id="tournaments"></div>
            <div id="displayPlayers" ></div>
            <div id="displayLeaderBoard"></div>
        </div>

    </div>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./index.js"></script>
</body>
</html>