<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>homepage</title>
</head>
<body>
    <div id="container">
        <div id="left">
            <button id="profile">profile</button>
            <button id="createTeam">create team</button>
            <div id='createTeamDiv' style="display: none;">
                <label>enter team name:</label>
                <input type="text" id="name">
                <label>enter password:</label>
                <input type="password" id="newPassword">
                <label>confirm password:</label>
                <input type="password" id="confirmPassword">
                <button id="create">create</button>
            </div>
            <div id="showTeam">

            </div>
            
        </div>
        <div id="main">
            <div id="tournaments">

            </div>
            <div id="displayPlayers">

            </div>
        </div>

    </div>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./index.js"></script>
</body>
</html>