<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>amchyaDhava</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="container">
        <div id="main">
            
            <div id="loginDiv" class="mainDiv" >
                <div class="page">
                    <div class="otherPage">
                        <label>New User :</label>
                        <button id="signupPage"> Signup</button>
                    </div>
                </div>
                <div class="inputs">
                    <label>Enter Username :</label>
                    <input type="name" id="LoginUsername">
                    <label>Enter Password :</label>
                    <input type="password" id="LoginPassword">
                </div>
                <button class="submit" id="login">Login</button>
            </div>
            <div id="signupDiv" class="mainDiv" style="display: none;">
                <div class="page">
                    <div class="otherPage">
                        <label>Already have account :</label>
                        <button id="loginPage">Login</button>
                    </div>
                </div>
                <div class="inputs">
                    <label>Enter Name :</label>
                    <input type="text" id="name">
                    <div id="playerType">
                        <label>Baller</label>
                        <input type='radio' id="baller" name="playerType">
                        <label>Batter</label>
                        <input type='radio' id="batter" name="playerType">
                        <label>Allrounder</label>
                        <input type='radio' id="allrounder" name="playerType">
                    </div>
                    <!-- <label>Enter Email :</label>
                    <input type="email" id="email"> -->
                    <label>Enter Password :</label>
                    <input type="password" id="password">
                    <button class="submit" id="signup">Signup</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="./index.js"></script>
</body>
</html>