#container{
    background-color: rgb(222, 226, 160);
    height: 600px;
}

#show{
    width: 70px;
    height: 35px;
    background-color: #f2f2f2;
}
#updateButtons{
    display: flex;
    align-items: center;
    justify-content: center;
}
#byes{
    background-color: yellow;
    width: 50px;
    height: 40px;
    border-radius: 17%;
}
#wideBall{
    background-color: rgb(215, 230, 241);
    width: 55px;
    height: 40px;
    border-radius: 17%;
}
#noBall{
    background-color: rgb(43, 7, 248);
    width: 40px;
    height: 40px;
    border-radius: 17%;
    color:#f2f2f2
}

#secondInningScenario{
    display: flex;
    flex-direction: column;
}
button{
    padding-inline: 2px;
    margin:3px;
}
.box{
    background-color: rgb(98, 243, 98);
    padding: 2px;
    display: flex;
    margin: 2px;
}

.score{
    background-color: rgb(133, 100, 100);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 30px;
}
.batterStats{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divide{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.over{
    display: flex;
    flex-direction: row;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding-inline: 5px;
    text-align: left;
    height: 10px;
}
th {
    background-color: #f2f2f2;
}