body{
    margin:0px;
}
#container{
    height: 100vh;
    background-color: rgb(182, 219, 210);
    overflow:auto;
    font-size: 3vh;
}
#score{
    height: 35vh;
    margin-bottom: 5vh;
}

#secondInningScenario{
    display: flex;
    flex-direction: column;
}

.box{
    background-color: rgb(98, 243, 98);
    padding: 2px;
    display: flex;
    margin: 2px;
}

.score{
    background-color: rgb(205, 206, 175);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 30px;
    height: 20vh;
    width: 20vw;
    font-size: 5vh;
    color: #030303;
    border-radius: 3vh;
}
.batterStats{
    width: 37vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y:scroll;
}
.bowlerStats{
    height: 20%;
    overflow-y:auto;
}
.divide{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.over{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1px;
}

table {
    width: 100%;
}
th, td {
    background-color: rgb(224, 235, 166);
    padding-inline: 5px;
    text-align: left;
    height: 3vh;
    border-radius: 3vh;
    
}
th {
    background-color: #f2f2f2;
}